In [1]:
import pandas as pd
from tqdm import  tqdm

In [2]:
origin = pd.read_csv("./submissions/submission_750427.csv")
sub1 = pd.read_csv("./submissions/782922.csv")
sub2 = pd.read_csv("./submissions/786623.csv")

In [3]:
origin.head()

   id                                        moves
0   0                                       r1.-f1
1   1                 f0.-r0.d1.f1.f1.-d0.r1.f0.d0
2   2  -d1.-r0.-f1.-d1.-r0.-f0.-r1.f1.d1.-f1.d0.d0
3   3               f1.r0.f1.r0.d1.f1.r0.d1.r1.-f0
4   4    -d1.-f0.-d0.-f1.r1.-f1.r1.-f1.r0.r0.d0.d0

In [4]:
new_sub = pd.DataFrame(columns=origin.columns)

In [5]:
count1 = 0
count2 = 0
count3 = 0

for i in tqdm(range(len(origin))):
    num_id = origin.loc[i, "id"]

    origin_moves = origin.loc[i, "moves"]
    sub1_moves = sub1.loc[i, "moves"]
    sub2_moves = sub2.loc[i, "moves"]

    if len(origin_moves) <= len(sub1_moves) and len(origin_moves) <= len(sub2_moves):
        count1 += 1
        new_moves = origin_moves
    elif len(sub1_moves) <= len(sub2_moves) and len(sub1_moves) <= len(origin_moves):
        count2 += 1
        new_moves = sub1_moves
    elif len(sub2_moves) <= len(sub1_moves) and len(sub2_moves) <= len(origin_moves):
        count3 += 1
        new_moves = sub2_moves

    new_row = pd.DataFrame({
        "id": [num_id],
        "moves": [new_moves]
    })
    new_sub = pd.concat([new_sub, new_row], ignore_index=True)

print(count1, count2, count3)

100%|██████████| 398/398 [00:00<00:00, 1311.30it/s]

283 107 8

In [6]:
new_sub.head()

  id                                      moves
0  0                                     r1.-f1
1  1               f0.-r0.d1.f1.f1.-d0.r1.f0.d0
2  2   -d1.-r0.f0.-r1.f1.d1.-r1.-f0.d1.f0.d1.d1
3  3             f1.r0.f1.r0.d1.f1.r0.d1.r1.-f0
4  4  -d1.-f0.-d0.-f1.r1.-f1.r1.-f1.r0.r0.d0.d0

In [7]:
new_sub.to_csv("./submissions/0127.csv", index=False)